.auth-popup-wrapper {
	position: fixed;
	top: 25vh;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 111;
}

.auth-popup__close {
	height: 15px;
	width: 15px;
	z-index: 1;
	position: absolute;
	right: 20px;
	top: 20px;
}

.auth-popup__close::before {
	background-color: #606060;
	content: '';
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color 0.2s ease-in-out;
	-webkit-mask: url(/svg/close-small.svg) no-repeat 50% 50%;
	mask: url(/svg/close-small.svg) no-repeat 50% 50%;
}

.auth-popup__card {
	max-width: 470px;
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	border: none;
	border-radius: 30px;
	background-color: #14edaa;
	perspective: 1000px;
}

.auth-popup__card__inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.auth-popup__card.switched .auth-popup__card__inner {
	transform: rotateY(180deg);
}

.card-body {
	padding: 30px;
	color: #e8e9ea;
}

.card-body__title {
	margin: 0;
	color: #ff8800ed;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 30px;
}

.card-body__description {
	margin: 0;
	color: #6c757d;
	margin-bottom: 16px;
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card-back {
	transform: rotateY(180deg);
}

.card-body__inner {
	margin-top: 30px;
}

.inner__top {
	margin-bottom: 12px;
}

.popup__close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.wow-bg {
	background-color: #e8e8e8;
	border-radius: 10px;
	margin-top: 4px;
}

.inner__btn {
	background: #ffbb83;
	border-radius: 30px;
	width: 100%;
	min-height: 38px;
	overflow: hidden;
	border: 1px solid #2e344d;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	color: #474747;
}

.inner__btn:hover {
	background-color: #ff840066;
	border-radius: 50px;
	min-width: 140px;
	border-style: solid;
	border-color: #ffffff;
}

.form__block__input {
	width: 100%;
	height: 38px;
	padding: 6px 12px;
	background: rgba(255, 255, 255, 0.16);
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #2e344d;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin-top: 24px;
	color: #4e4f4f;
}

.form__block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

.form__block__input::placeholder {
	color: #3d3e3e;
}

.form__block__input:focus {
	border: 1px solid #344d2e;
	outline: 0;
	background: rgb(188, 188, 188);
	border-radius: 4px;
	transition: all 0.3s ease-in-out 0s;
}

.inner__switch {
	color: #344d2e;
}

.inner__switch:hover {
	color: #2b7a19;
	text-decoration: underline;
}

.socials__btn {
	height: 40px;
	border-radius: 10%;
	width: 40px;
	box-shadow: 0px 0px 2px black;
	margin-right: 10px !important;
}

.inner__bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}

.inner__bottom__text {
	color: #4d4d4d;
	margin-right: 10px;
}

.gh-color {
	color: #7d7d7d;
}

.g-color {
	color: #4285f4;
}

.y-color {
	color: #e2432a;
}

.vk-color {
	color: #4c75a3;
}
