@import url('./fonts.css');

* {
	box-sizing: border-box;
}

body {
	font-family:
		Alov Basis,
		sans-serif;
	font-weight: 400;
	background-color: #1d2533;
	color: #e8e9ea;
	min-block-size: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-inline-size: 1535px;
	margin: 0 auto;
	padding: 0 15px;
}

.button-reset {
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.overflow-hidden {
	overflow-y: hidden;
	padding-inline-end: 8px;
}

.header__search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	block-size: 100%;
	inline-size: 100%;
	visibility: hidden;
	opacity: 0;
	background-color: #16181b;
}

.header__search-overlay.overlay-active {
	z-index: 2;
	opacity: 0.6;
	visibility: visible;
}
