.list {
	&__item {
		min-height: 453px;
		position: relative;
		padding: 16px;
		transition:
			background-color 0.2s ease-in-out,
			box-shadow 0.2s ease-in-out;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 800px) {
			background-color: #e2e2e2;
			box-shadow:
				0px 12px 20px 0px rgba(0, 0, 0, 0.2),
				0px 0px 20px 0px rgba(0, 0, 0, 0.1);
		}

		@media (max-width: 590px) {
			padding-bottom: 75px;
			min-height: 490px;
		}

		&__label {
			position: absolute;
			top: 16px;
			left: 16px;
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			padding: 0 8px;
			z-index: 1;
		}

		&__new {
			background-color: #ff5e2d;
		}

		&__bestseller {
			background-color: #16d9a6;
		}

		&__actions {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 16px;
			right: 16px;
			display: flex;
			flex-direction: column;
			transition:
				opacity 0.2s ease-in-out,
				visibility 0.2s ease-in-out;
			z-index: 1;

			@media (max-width: 800px) {
				opacity: 1;
				visibility: visible;
			}
		}

		&__img {
			margin: auto;
			display: block;

			img {
				max-height: 350px;
				max-width: 320px;
				margin: 0 auto;
				transition: background 0.2s ease-in-out;
				object-fit: contain;
			}
		}

		&__inner {
			align-self: flex-start;
		}

		&__title {
			margin: 0;
			margin-bottom: 4px;

			a {
				color: #474646;
				font-size: 16px;
				font-weight: 700;
				text-decoration: none;
			}
		}

		&__price {
			color: #676666;
			font-size: 24px;
			font-weight: 500;
		}

		&__cart {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 16px;
			right: 16px;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			border-radius: 32px;
			background-color: #ffa246;
			padding: 12px 24px !important;
			transition:
				background-color 0.2s ease-in-out,
				opacity 0.2s ease-in-out,
				visibility 0.2s ease-in-out;

			@media (max-width: 800px) {
				opacity: 1;
				visibility: visible;
			}

			@media (max-width: 590px) {
				left: 16px;
			}

			&:hover {
				background-color: #ff8000;
				transition: background-color 0.2s ease-in-out;
			}

			&_added {
				opacity: 1;
				visibility: visible;
				background-color: #16d9a6 !important;
				pointer-events: none !important;
				cursor: none !important;

				&:hover {
					background-color: #16d9a6;
				}
			}

			&:disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}

		&:hover {
			background-color: rgb(232, 232, 232);
			box-shadow:
				0px 12px 20px 0px rgba(0, 0, 0, 0.2),
				0px 0px 20px 0px rgba(0, 0, 0, 0.1);
			transition:
				background-color 0.2s ease-in-out,
				box-shadow 0.2s ease-in-out;
		}

		&:hover &__actions,
		&:hover &__cart {
			opacity: 1;
			visibility: visible;
			transition:
				background-color 0.2s ease-in-out,
				opacity 0.2s ease-in-out,
				visibility 0.2s ease-in-out;
		}

		&:hover &__img img {
			transition: background 0.2s ease-in-out;
			background: radial-gradient(
				52.53% 52.53% at 50% 47.47%,
				#4e5d77 0%,
				rgba(42, 50, 63, 0) 100%
			);
		}
	}
}

.product {
	display: flex;
	align-items: center;
	margin-bottom: 24px;

	@media (max-width: 590px) {
		margin-bottom: 16px;
	}

	&__stock {
		margin-right: 16px;
		padding-left: 8px;
		font-size: 12px;
		background-repeat: no-repeat;
		background-position: left center;

		&__green {
			color: #26da72;
			background-image: url('/svg/green-ellipse.svg');
		}

		&__red {
			color: #ff4747;
			background-image: url('/svg/red-ellipse.svg');
		}
	}

	&__code {
		color: #a5a8ad;
		font-size: 12px;
	}

	&__color,
	&__composition {
		display: block;
		margin-bottom: 24px;
		color: #646464;
		font-size: 14px;
	}

	&__size_title {
		color: #636363;
		font-size: 14px;
		margin-bottom: 12px;
	}

	&__count_title {
		display: block;
		margin-bottom: 12px;
		color: #5c5c5c;
		font-size: 14px;
	}
}
